h3{
    color:tan;
    text-align:center;
}
a{
    color:tan;
}
header{
    background-color:black;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}
img{
    width:300px;
}
.center{
    text-align:center;
}
